.align-center {
    align-items: center;
}

.box {
    border: 1px solid black;
    height: 100px;
    padding: 20px;
    width: 10%;
}

.center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.d-f {
    display: flex;
}