.align-center {
    align-items: center;
}

.background-white {
    background-color: white;
}

.body {
    background-image: url("./../images/empty_workspace.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bold {
    font-weight: bold;
}

.box {
    border: 3px solid black;
    height: 100px;
    padding: 20px;
    width: 10%;
}

.bright-green {
    color: rgb(167, 250, 43);
}

.center {
    justify-content: center;
}

.character-box-text {
    border: 1px solid red;
    width: 100%;
}

.column {
    flex-direction: column;
}

.d-f {
    display: flex;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.shadow {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.space-between {
    justify-content: space-between;
}

.text {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center;
}

.text-large {
    font-size: 3rem;
}

.text-middle {
    font-size: 2rem;
}

.white {
    color: white;
}