.align-center {
    align-items: center;
}

.background-white {
    background-color: white;
}

.body {
    background-image: url("./../images/empty_workspace.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box {
    border: 3px solid black;
    height: 100px;
    padding: 20px;
    width: 10%;
}

.center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.d-f {
    display: flex;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}

.text-middle {
    font-size: 2rem;
}

.white {
    color: white;
}